<ion-content>
  <form class="form-forgot">
    <div class="header">
      <img src="assets/android-chrome-192x192.png" alt="">
      <h1 class="form-title">Registrar</h1>
    </div>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email"></ion-input>
    </ion-item>
    <div class="feedback-error">campo obrigatório</div>
    <div class="container-actions">
      <ion-label>
        Já tenho uma conta <a routerLink="/login">realizar login</a>
      </ion-label>
      <ion-label>
        <a routerLink="/signup">registrar nova conta</a>
      </ion-label>
    </div>
    <ion-button type="submit" fill="outline">Registrar</ion-button>
  </form>
</ion-content>
