<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Transferir
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="continer-info-transfer">
    <ion-item>
      <ion-label>Selecione uma conta</ion-label>
      <ion-select ok-text="Feito" cancel-text="Cancelar">
        <ion-select-option value="conta a">Conta A do Erickson de Carvalho VAz</ion-select-option>
        <ion-select-option value="conta b">Conta B</ion-select-option>
        <ion-select-option value="conta c">Conta C</ion-select-option>
        <ion-select-option value="conta d">Conta D</ion-select-option>
        <ion-select-option value="conta e">Conta E</ion-select-option>
        <ion-select-option value="conta f">Conta F</ion-select-option>
        <ion-select-option value="conta g">Conta G</ion-select-option>
      </ion-select>
    </ion-item>
    <form>
      <ion-item>
        <ion-label position="floating">Endereço destino</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <div class="feedback-error">campo obrigatório</div>
      <ion-item>
        <ion-label position="floating">Valor</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <div class="feedback-error">campo obrigatório</div>
      <ion-button class="btn-submit" size="small" color="btn-primary-sm">enviar</ion-button>
    </form>
  </div>
  <ion-list class="transfers-list">
    <ion-item class="item-transfer" *ngFor="let account of accounts">
      <ion-label class="label-amount">- 13 RC</ion-label>
      <div class="transfer-info">
        <ion-label class="label-from">De: 0xCbf4I84qsHt
        </ion-label>
        <ion-label class="label-to">Para: 0xCbf4I84qsHt
        </ion-label>
      </div>
      <ion-label class="label-data">11/05/2012</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
