<ion-header translucent>
  <ion-toolbar>
    <ion-title>Chaves da Conta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="container-form">
    <ion-label class="form-title">Acessar Chave Privada</ion-label>
    <form #f="ngForm" #formGetPrivateKey class="form-get-key" (ngSubmit)="submit(f,formGetPrivateKey)">
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input ngModel type="password" name="password"></ion-input>
      </ion-item>
      <div class="feedback-error"></div>
      <ion-button type="submit" class="btn-submit" fill="outline">obter chave</ion-button>
    </form>
  </div>
  <div class="key-container" [hidden]="!showPrivateKey">
    <textarea readonly>{{privateKey.substring(2)}}</textarea>
  </div>
  <div class="key-container">
    <ion-label class="label-public-key">Chave Publica</ion-label>
    <qrcode [qrdata]="publicKey" [width]="256" [allowEmptyString]="true"></qrcode>
    <ion-label>{{publicKey}}</ion-label>
  </div>
</ion-content>
